# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# Raw AHS Microdata (Too large for GitHub)
data/household.csv
data/project.csv

# Ignore zip archives if you downloaded them directly to the repo
*.zip